*.pyc
*.pyo
*.egg
*.DS_store
*.egg-info
docs/*/_build
dist
build/
.idea/
.vscode/
.venv
.python-version
sysdic
work
ipadic/mecab-ipadic*
tests/userdic
tests/userdic_simple
tests/*.gv
profiler/*.dump
profiler/*.profile
